<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/lat_and_lon.css">
</head>
<body>
    <h1>latitude and longitude of <%= place %> is <%= latt %> and <%= lonn %> respectively!</h1>
</body>
</html>