*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color:rgb(14, 14, 230); */
    background-image:linear-gradient(88deg,rgb(248, 160, 160),rgb(76, 159, 236));
    color: rgb(70, 68, 68);
}

/* p{
    position: relative;
    left: 40vw;
} */

.position{
    background-image: linear-gradient(150deg,rgba(148, 1, 1, 0.788),rgba(12, 94, 12, 0.815),rgba(6, 141, 141, 0.836));
    position:absolute;
    color: rgb(226, 219, 219);
    /* position:fixed; */
    left: 35vw;
    top: 30vh;
    font-size: 20px;
    width: 20vw;
    padding: 2vw;
    height: 50vh;
    border: blueviolet 2px solid;
}

li{
    padding: 1px;
}